<div class="page-header">
  <h1>User Accounts</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email Address</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
